.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.stopwatch-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.timer-display {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button-container {
  width: 33%;
  max-width: 24rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.button-stop {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.button-start {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button-stop {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
